body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.container{
   position: relative;
   width: 320px;
   padding: 30px;
   background-color: #fff;
   overflow: hidden;
}
.container:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: rgb(157, 26, 26);
    z-index: 1;
    transition: 1s;
}
.container:hover::before{
    bottom: 0;
}
.content{
    position: relative;
    color: #0e0808;
    z-index: 2;
    transition: 1s;
}
h1{
    font-size: 30px;
}
p{
    line-height: 22px;
    padding: 40px;
    overflow: hidden;
}
.container:hover .content{
    color: white;
}
