body{
    background: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    transition: background 0.3s cubic-bezier(0.215,0.61,0.355,1);
}
h2{
    color: white;
    font-weight: 200;
}
button{
    padding: 15px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.215,0.61,0.355,1.2);
}
button:active{
    transform: scale(0.9);
}
