*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #000;
}
.btn{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
a{
    height: 50px;
    width: 200px;
    border: 2px solid white;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}
a:before{
    content:"hello i am deepak";
    width: 100%;
    height: 100%;
    color: rgb(5, 169, 57);
    position:absolute;
    background: white;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover::before{
    transform: translateY(0);
}