*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f8f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* border: 2px solid white; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
a:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: #060606;
    color: white;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.3s;
    transform-origin: top;
}

a:after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #f50e0e;
    color: rgb(11, 8, 8);
    z-index: -1;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    transform-origin: bottom;  
}
a:hover:before,a:hover:after{
    top: -6px;
    left: 0;
    transform: perspective(1000px) rotateX(75deg);

}
a:hover:after{
    top: 6px;
    left: 0;
    transform: perspective(1000px) rotateX(-75deg);
    
}
a:hover{
    color: rgb(19, 17, 17);
}