*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#dc143c;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(7, 7, 20);
}

.heart{
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
}
.heart:before,
.heart:after{
    content: "";
    background: #ccc;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}
.heart:before{
    top: -50px;
    left: 0;
}
.heart::after{
    top: 0;
    left: 50px;
}
.red-heart{
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: absolute;
}
.red-heart::before,
.red-heart::after{
    content:"";
    background: var(--main-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}
.red-heart::before{
    top: -50px;
    left: 0; 
}
.red-heart::after{
    left: 50px;
    top: 0;
}

