*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    list-style: none;
}
.item{
    position: relative;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
}
.item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: crimson; */
    opacity: 0;
    transform: scaleY(2);
    transition: 1s;
    border-bottom: 2px solid crimson;
    border-top: 2px solid crimson;
}
.item:hover:before{
        transform: scaleY(1.2);
        opacity: 1;
}

.item:after{
    content: "";
    position: absolute;
    top: 2;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: -1;
}
.item:hover:after{
        transform: scale(1);
}