*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
    padding: 1rem 2rem;
}
ul li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scale(0);
    transition: all 1s;
    transform-origin: left;

}
ul li a:hover:before{
    transform: scaleX(1);
}