*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.text{
    text-align: center;
}
.text h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.text h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.text a{
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    border: 2px solid white;
    padding: 14px 50px;
    background: white;
}