*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
}
.container{
    background: #000;
    width: 25rem;
    padding: 30px;   
}
.scroll-div{
    padding: 30px 20px;
    width: 400px;
    height: 500px;
    background-color: rgb(7, 7, 7);
    overflow: hidden;
    overflow-y: scroll;

}
.object{
    padding: 20px;
}