*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(117, 117, 152);

}
.input{
    background: #ffff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
}
.input input{
    border: 0;
    padding: 10px 0;
    width: 100%;
    outline: 0;
    font-size: 24px;
    color: #555;
}
.input img{
    width: 40px;
    cursor: pointer;
}