body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #000;
}
.container{
    height: 30rem;
    width: 30rem;
    position: relative;
    overflow: hidden;
} 
.container img{
    width: 100%;
    transition: all 0.4ms;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: all 1s;
    background-color:white;
    transform: translateX(-100%);
}
.container:hover .content{
    transform: translateX(0);
}
.container:hover img{
    transform: translateX(100%);
}
