*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.name{
    font-size: 10rem;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5MfTikD5sshtOllyQIs67wsL2b59IBLajFg&s);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}