*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
.btn{
    height: 100vh;
    /* width: 400px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
 a{
    font: 20px;
    text-decoration: none;
    border: 2px solid black;
    padding: 20px 20px;
}