*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#111;
}
a{
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
}
a::before{
    content: "new button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: red;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}
a:after{
    content: "new button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(24, 212, 90);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;
}
a:hover:before,
a:hover::after{
    transform: rotateX(0);
}