body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

/* content box */
.content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(250, 251, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(8, 6, 6);
    transform: translateY(100%);
    transition: all 0.5s ease;
}

/* hover effects */
.container:hover .content{
    transform: translateY(0);
}

.container:hover img{
    transform: translateY(-30%);
}
