*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
}

.item{
    color: white;
    padding: 0.5rem 1.2rem;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
}

/* bottom-left corner */
.item::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    opacity: 0;
    transition: all 0.4s ease;
}

/* top-right corner */
.item::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    opacity: 0;
    transition: all 0.4s ease;
}

.item:hover::before{
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

.item:hover::after{
    opacity: 1;
    top: -8px;
    right: -8px;
}
